.contact-option
  padding-bottom: $gu
  margin-bottom: $gu
  white-space: nowrap
  overflow-x: scroll

  .icon
    display: inline-block
    height: 5 * $gu
    width: 5 * $gu
    padding: 0 $gu
    vertical-align: top

  .content
    display: inline-block
    padding-left: $gu
    border-left: 4px solid $primary-light

  .title
    font-weight: bold
    margin-bottom: 0.33 * $gu

  .link
    white-space: nowrap