@import defs

.special-group
  margin-top: 2 * $gu
  
.contact-option
  display: inline-block
  width: 300px
  margin: $gu
  padding: $gu
  white-space: nowrap
  overflow-x: scroll
  border: 1px solid $koala-blue
  border-radius: $gu

  &:before
    content: none

  &:hover
    color: $koala-blue
    background-color: #00338010
    box-shadow: 0 0 $gu #00000030

  .icon
    display: inline-block
    vertical-align: top

  .content
    display: inline-block
    padding-left: 0.66 * $gu

  .title
    display: block
    font-weight: bold
    font-size: 14px
    margin-bottom: 2px

  .link
    white-space: nowrap

  .link-warning
    color: $warning
    white-space: normal

.inline-image
  margin: 20px -60px

  img
    box-shadow: 0 0 $gu #00000030

  .caption
    text-align: center
    font-size: 0.8em
