header
  background-color: $primary-light
  background-image: url(/images/footy.jpg)
  background-size: cover
  background-position: center
  padding: (5 * $gu) $gu $gu

  h1
    display: inline-block
    margin: 0
    padding: (0.66 * $gu) $gu
    background-color: rgba(255, 255, 255, 0.75)
