nav
  background-color: $primary
  color: $on-primary
  font-family: "Patua One", serif
  padding: 0 $gu

  ul, li
    display: inline
    padding: 0

  a
    color: $on-primary
    display: inline-block
    padding: (0.66 * $gu) $gu
    text-decoration: none

    &:hover
      background-color: $primary-light
      color: $on-primary

  .translation img
    height: 1em
    vertical-align: text-bottom
    margin-right: 0.33 * $gu

@media (min-width: $width-threshold)
  .translation
    float: right
  