nav
  background-color: $secondary
  color: $on-secondary
  font-family: "Patua One", serif
  padding: 0 $gu

  .show-icon, .hide-icon
    cursor: pointer
    padding: (0.66 * $gu) $gu
    img
      height: 1em
      margin-right: 0.66 * $gu
      vertical-align: text-bottom

  ul
    display: block
    margin: 0
    padding: 0

  &.collapsing

    .hide-icon
      display: none
    .show-icon
      display: inline-block
    ul
      display: none

    &.showing
      .hide-icon
        display: inline-block
      .show-icon
        display: none
      ul
        display: block

  &.collapsing ul li
    display: block
    padding: 0

  &.non-collapsing ul li
    display: inline

    &.translation
      float: right

  a
    color: $on-secondary
    display: inline-block
    padding: (0.66 * $gu) $gu
    text-decoration: none

    &:hover
      background-color: $secondary-light
      color: $on-secondary

  .translation img
    height: 1em
    vertical-align: text-bottom
    margin-right: 0.33 * $gu

  @media (min-width: $width-threshold)
    &.collapsing

      text-align: left

      .hide-icon, .show-icon
        display: none

      ul
        display: block

        li
          display: inline

          &.translation
            float: right
