<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "de" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} – {{ .Site.Title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    {{ $style := resources.Get "sass/main.sass" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  </head>
  <body>

    <div id="background"></div>
    <div id="background-focus">
      <div id="background-focus-image"></div>
    </div>
    <header>
      <img id="logo" alt="Kiel Koalas Australian Football Club" src="/images/koala_logo.png">
      <div id="header-bars">
        <div id="title-bar">Australian Football in Kiel</div>
        <div id="slogan-bar">everyone welcome!</div>
        <div id="nav-bar">
          <nav class="collapsing" id="main-nav">
            <div class="show-icon" onclick="document.getElementById('main-nav').className = 'collapsing showing';">
              <img alt="Show Menu" src="/images/icon_bars.png">
              Navigation
            </div>
            <div class="hide-icon" onclick="document.getElementById('main-nav').className = 'collapsing';">
              <img alt="Hide Menu" src="/images/icon_times.png">
            </div>
            <ul>
              {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="screen">
      <div id="screen-top">
        <div id="screen-top-bar"></div>
      </div>
      <div id="screen-background"></div>
      <div id="container">
        <main>
          {{ block "main" . }}
          {{ end }}
        </main>
        <nav class="non-collapsing">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ partial "translation-link" . }}
          </ul>
        </nav>
        <footer>
          <p class="contact-options-small">
            <a href="https://www.instagram.com/kiel_koalas/"><img alt="Instagram" src="/images/icon_instagram.png"></a>
            <a href="https://www.facebook.com/kielkoalas"><img alt="Facebook" src="/images/icon_facebook.png"></a>
            <a href="mailto:info@kiel-koalas.de"><img alt="E-Mail" src="/images/icon_email.png"></a>
            <a href="https://twitter.com/kiel_koalas"><img alt="Twitter" src="/images/icon_twitter.png"></a>
          </p>
          <p class="build-info">
            built with <a href="https://gohugo.io/">Hugo, a static site generator</a>
            <br>
            {{ $hash := .GitInfo.AbbreviatedHash }}
            last change: {{ .GitInfo.AuthorDate.Format "Jan 2, 2006" }}
            (<a href="https://github.com/doertscho/arf-kiel/commit/{{ $hash }}">{{ $hash }}</a>)
            <br>
            <a href="https://github.com/doertscho/arf-kiel">view or fork source code on GitHub</a>
          </p>
        </footer>
      </div>
    </div>

  </body>
</html>
