<div class="special-group">

  <a class="contact-option" href="https://www.instagram.com/kiel_koalas/">
    <span class="icon">
      <img alt="Instagram" src="/images/icon_instagram.png">
    </span>
    <span class="content">
      <span class="title">Instagram:</span>
      <span class="link">@kiel_koalas</span>
    </span>
  </a>

  <a class="contact-option" href="https://www.facebook.com/kielkoalas">
    <span class="icon">
      <img alt="Facebook" src="/images/icon_facebook.png">
    </span>
    <span class="content">
      <span class="title">Facebook:</span>
      <span class="link">fb.com/kielkoalas</span>
    </span>
  </a>

  <a class="contact-option" href="mailto:info@kiel-koalas.de">
    <span class="icon">
      <img alt="E-Mail" src="/images/icon_email.png">
    </span>
    <span class="content">
      <span class="title">E-Mail:</span>
      <span class="link">info@kiel-koalas.de</span>
    </span>
  </a>

  <a class="contact-option" href="https://www.youtube.com/channel/UCIPZ-z_vB6MKIw_1Xw91G2Q">
    <span class="icon">
      <img alt="YouTube" src="/images/icon_youtube.png">
    </span>
    <span class="content">
      <span class="title">YouTube:</span>
      <span class="link">Kiel Koalas TV</span>
    </span>
  </a>

</div>
