<div class="contact-option">
  <div class="icon">
    <img alt="WhatsApp" src="/images/whatsapp.png">
  </div>
  <div class="content">
    <div class="title">WhatsApp:</div>
    <div class="link">
      <a href="https://chat.whatsapp.com/HXiIFdg4Pug9MRkWABxa9U">chat.whatsapp.com/HXiIFdg4Pug9MRkWABxa9U</a>
    </div>
    <div class="link">
      Short Link: <a href="http://arfk.de/wa">arfk.de/wa</a>
    </div>
  </div>
</div>

<div class="contact-option">
  <div class="icon">
    <img alt="Telegram" src="/images/telegram.png">
  </div>
  <div class="content">
    <div class="title">Telegram:</div>
    <div class="link">
      <a href="https://t.me/joinchat/BAoUfxYRy_kkCTTyCSOnUg">t.me/joinchat/BAoUfxYRy_kkCTTyCSOnUg</a>
    </div>
    <div class="link">
      Short Link: <a href="http://arfk.de/tg">arfk.de/tg</a>
    </div>
  </div>
</div>

<div class="contact-option">
  <div class="icon">
    <img alt="E-Mail" src="/images/email.png">
  </div>
  <div class="content">
    <div class="title">E-Mail:</div>
    <div class="link">
      <a href="mailto:info@arfk.de">info@arfk.de</a>
    </div>
    <div class="link">
      <a href="mailto:stefan.roepstorff@gmail.com">stefan.roepstorff@gmail.com</a>
    </div>
  </div>
</div>

<div class="contact-option">
  <div class="icon">
    <img alt="Twitter" src="/images/twitter.png">
  </div>
  <div class="content">
    <div class="title">Twitter:</div>
    <div class="link">
      <a href="https://twitter.com/arf_kiel">@arf_kiel</a>
    </div>
  </div>
</div>
