<div class="special-group">
  <div class="contact-option">
    <div class="icon">
      <img alt="Datum" src="/images/icon_calendar.png">
    </div>
    <div class="content">
      <div class="title">{{ i18n "next-sessions" }}</div>
      {{ $language := $.Page.Lang }}
      {{ $dates := slice          "2020-06-17 18:00:00" }}
      {{ $dates = $dates | append "2020-06-24 18:00:00" }}
      {{ $dates = $dates | append "2020-07-01 18:00:00" }}
      {{ range $dates }}
        {{ if eq $language "en" }}
          <div class="link">{{ dateFormat "Mon, Jan 2 2006, 3:04 pm" . }}</div>
        {{ else }}
          <div class="link">{{ i18n (dateFormat "Mon" . ) }}, {{ dateFormat "02.01.2006, 15:04 Uhr" . }}</div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
